body{
   background-color: rgb(44, 44, 42); 
   box-sizing: border-box;
   margin: 0px;
   padding:0px;
}


.footer-para{
    color: lightsteelblue;
    padding-top:8px;
}


.footer-para{
    color: lightsteelblue;
    padding-top:8px;
}
.footer-head{
    color:blueviolet;
    font-weight: 500;
    text-decoration: none;

}
 #reges{background-size: cover;
    background-image:url(./img/img5.jpg);
    margin-top: 50px;
    color: black;
}

#blog{
    padding:20px;   
 }
 
/*.second{background-size: cover;
    background-image:url(./img/img3.jfif);
}
 */


 @media screen and (max-width: 900px) {
    #caro_move{
      margin-top: 100px;
    }
   
    #nav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      #newav{
        margin-top: 98px;
      }
      #reges{
        margin-top: 98px;
      }
      #blog{
        margin-top: 80px;
      }
      #insta img {
          height:250px;
          width:100%;

  }

}
